*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    text-decoration: none;
}

.navbar{
    justify-content: space-between;
    display: flex;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.navbar-left{
    display: flex;
    gap: 12px;
    font-size: 20px;
}

.navbar-menu{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
    font-size: 20px;
}

.navbar-logo{
    padding: 2px;
    font-size: 35px;
}

.navbar-head p{
    margin-top: 10px;
}

.navbar-right{
    display: flex;
    gap: 35px;
}

.search{
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 10px;
    width: 250px;
    border-radius: 0.5em;
}

.serach-input{
    outline: none;
    background: transparent;
    flex: 1;
    border: none;
    cursor: pointer;
}

.create-new{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
}

.create-new a li i{
    padding: 5px;
}

.navbar-last{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.5em;
}

.navbar-profile{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

/* sidebar */

.sidebar{
    padding-top: 3em;
    padding-left: 1.5em;
    border-right: 2px solid rgba(0, 0, 0, 0.25);
    margin-right: 78%;
    height: 100vh;
}

.sidebar-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.serach-sidebar{
    cursor: text;
}

.sidebar-top h2{
  font-size: 14px;
  font-weight: 600;
  /* color: ; */
  margin-top: 10px;
}

.sidebar-top a{
    margin-right: 1.65em;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 0.3em;
    padding: 6px;
    border-radius: 5px;
    color: white;
    background-color: #238636;
}
