*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
    color: #d1d0c5;
    overflow-x:hidden;
    background-color: #323437;
}

a{
    color: #d1d0c5;
    text-decoration: none;
    background-color: transparent;
}

li{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    line-height: 2.3rem;
    padding: 2rem;
    align-items: center;
}

.navbar-left-corner{
    place-content: center;
}

.navbar-left-corner ul{
    display: flex;
    gap: 1em;
}

.keyboard-logo{
    background-color: transparent;
    font-size: 2.3rem;
    color: yellow;
}

.navbar-list{
    font-family: 1rem;
    line-height: 1rem;
    color: #646669;
    font-size: 18px;
    margin-top: 15px;
}

.navbar-list:hover{
    color: white;
}

.navbar-right-corner ul{
    display: flex;
    gap: 1em;
}