*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f7f8;
    font-family: "Graphik Web" ,Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}

.main{
    background-image: url(img/movies.png);
    /* background-image: 
    (318.68deg, rgb(15, 73, 92), rgb(13, 54, 64) 49.72%, rgb(8, 20, 31)),
    url('img/movies.png'); */
    height: 530px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-navbar{
    color: #1ce783;
}

.right-navbar{
    padding-right: 40px;
}

.right-navbar a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    line-height: 1;
    color: #a8afbd;
    padding: 10px;
}

.right-navbar a:hover{
    padding: 10px;
    background-color: #e4dddd;
}

.main-center{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 80px;
}

.left-center p{
  text-transform: uppercase;
  color: #00ED82;
  font-size: 14px;
  font-weight: 600;
  left: 0.6px;
  padding-bottom: 10px;
}

.left-center h2{
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.left-center button{
    background-color: #1ce783;
    color: #0b0c0f;
    border: none;
    width: 80%;
    height: 20%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-center button:hover{
    background-color: #13a05a;
}

.apply-link a{
    color: black;
    font-size: 15px;
}

.sign-up{
    text-align: center;
    margin-top: 60px;
    font-weight: 700;
}

.sign-up a{
    color: white;
    letter-spacing: 0.6;
}

.sign-up a:hover{
    text-decoration: none;
}

.ads{
    background: linear-gradient(318.68deg, #0f495c, #0d3640 49.72%, #08141f);
    display: flex;
    justify-content: space-between;
    padding: 34px 40px;
    z-index: 1;
}

.left-ads h1{
    color: #1ce783;
    padding-left: 50px;
    padding-top: 20px; 
}

.middle-ads{
    margin-top: 5px;
    padding-right: 100px;
}

.right-ads{
    padding-top: 10px;
    padding-right: 0px;
}

.right-ads button{
    background-color: #1ce783;
    color: #0b0c0f;
    border: none;
    width: 130%;
    height: 00%;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;   
}