*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:15px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.logo{
    font-size: 30px;
}

.logo a{
    color: white;
}

.logo a i{
    padding-top: 8px;
}

.navbar-left{
    display: flex;
}

.next-logo{
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.home{
    font-size: 23px;
    color: white;
    background-color: #242323;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.serach-container{
    display: flex;
    align-items: center;
    width: 450px;
    margin-left: 15px;
    padding: 3px;
    border-radius: 50px;
    background-color: #242323;
}

.magnify{
    color: #E4E4E4;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 10px;
}

.serach-container input{
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    color: #E4E4E4;
}

.btn-search{
 border: none;
 background-color: transparent;
 color: #E4E4E4;
 font-size: 20px;
 border-left: 1px solid white;
 padding: 5px;
 cursor: pointer;
}

.btn-search i{
    padding-left: 10px;
}

.navbar-right{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

.Premium-btn{
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 150px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.install-btn{
    border: none;
    padding: 10px;
    border-radius: 50px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    width: 120px;
    color: #E4E4E4;
    background-color: transparent;
    cursor: pointer;
}

.arrow-down{
    border: 2px solid #9B9B9B;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.notfication{
    margin-left: 30px;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
    font-size: 18px;   
}


.notfication a i{
    background-color: transparent;
    color: #9B9B9B;
}

.profile-circle{
    margin-left: 30px;
}

.profile-circle img{
    border-radius: 50%;
}

/* main area */

.container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    flex: 0 0 20.5%;
    margin-left: 10px;
    border-right: 2px solid white;
    background-color: #242323;
    border-radius: 5px;
}

.sub-sidebar{
    padding-left: 10px;
    padding-top: 20px;
}

.top-sidebar{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

.top-left-sidebar h2{
    color: white;
    font-size: 18px;
}

.top-right-sidebar-icons{
    display: flex;
}

.top-right-sidebar-icons i{
    color: white;
    padding-right: 15px;
}

.sub-sidebar-btn button{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 20px;
    font-size: 15px;
}

.main-sidbar{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between; 
}

.sidebar-serach i{
    padding-top: 10px;
}

.recents{
    display: flex;
   
}

.recents p{
    color: white;
    padding-right: 15px;
}

.recents i{
    color: white;
    padding-right: 15px;
}

/* .library-song-list{

} */

.list-one{
    display: flex;
    padding-bottom: 20px;
}

.list-text{
    padding-left: 10px;
    padding-top: 8px;
}
.list-text h4{
    color: white;
}

.list-text p{
    color: white;
}

.square img{
    border-radius: 5%;
}

.circle img{
    border-radius: 50%;
}

