*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    max-height: 1000px;
    font-family:  CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic", "sanserfi";
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h4{
    color: white;
}

p{
    color: white;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:15px;
    padding-bottom: 10px;
    padding-left: 15px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    background-color: #000;
}

.logo{
    font-size: 30px;
}

.logo a{
    color: white;
}

.logo a i{
    padding-top: 8px;
}

.navbar-left{
    display: flex;
}

.next-logo{
    display: flex;
    align-items: center;
    padding-left: 25px;
    cursor: pointer;
}

.home{
    font-size: 23px;
    color: white;
    background-color: #242323;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.serach-container{
    display: flex;
    align-items: center;
    width: 450px;
    margin-left: 15px;
    padding: 3px;
    border-radius: 50px;
    background-color: #242323;
}

.magnify{
    color: #E4E4E4;
    font-size: 20px;
    padding-right: 5px;
    padding-left: 10px;
}

.serach-container input{
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 17px;
    font-weight: 500;
    background-color: transparent;
    color: #E4E4E4;
}

.btn-search{
 border: none;
 background-color: transparent;
 color: #E4E4E4;
 font-size: 20px;
 border-left: 1px solid white;
 padding: 5px;
 cursor: pointer;
}

.btn-search i{
    padding-left: 10px;
}

.navbar-right{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

.Premium-btn{
    border: none;
    padding: 10px;
    border-radius: 50px;
    width: 150px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.install-btn{
    border: none;
    padding: 10px;
    border-radius: 50px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
    width: 120px;
    color: #E4E4E4;
    background-color: transparent;
    cursor: pointer;
}

.arrow-down{
    border: 2px solid #9B9B9B;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.notfication{
    margin-left: 30px;
    align-items: center;
    padding-top: 10px;
    cursor: pointer;
    font-size: 18px;   
}


.notfication a i{
    background-color: transparent;
    color: #9B9B9B;
}

.profile-circle{
    margin-left: 30px;
}

.profile-circle img{
    border-radius: 50%;
}

/* main area */

.container{
    display: flex;
    min-height: 100vh;
    margin-top: 70px;
    height: 1500px;
}

.sidebar{
    flex: 0 0 20.5%;
    margin-left: 10px;
    background-color: #121212;
    border-radius: 5px;
    overflow-y: scroll;
}

.sub-sidebar{
    padding-left: 10px;
    padding-top: 20px;
}

.top-sidebar{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}

.top-left-sidebar h2{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.top-right-sidebar-icons{
    display: flex;
}

.top-right-sidebar-icons i{
    color: #C3C3C3;
    padding-right: 15px;
    cursor: pointer;
}

.sub-sidebar-btn button{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 20px;
    font-size: 13px;
    background-color: #333333;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.main-sidbar{
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between; 
    padding-top: 15px;
}

.sidebar-serach i{
    color: #C3C3C3;
    font-size: 16px;
}

.recents{
    display: flex;
}

.recents p{
    color: #C3C3C3;
    padding-right: 15px;
    font-weight: 700;
    font-size: 14px;
}

.recents i{
    color: #C3C3C3;
    padding-right: 15px;
}

/* .library-song-list{

} */

.list-one{
    display: flex;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.list-one:hover{
    background-color: #1F1F1F;
}
.list-text{
    padding-left: 10px;
    padding-top: 8px;
}
.list-text h4{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 5px;
}

.list-text p{
    color: #C3C3C3;
    font-size: 14px;
    font-weight: 500;
}

.square img{
    border-radius: 5%;
}

.circle img{
    border-radius: 50%;
}

/* main part */

.main{
    flex: 0 0 59%;
    flex-grow: 1;
    background-color: #242323;
    margin-left: 10px;
    border-radius: 5px;
    overflow-y: scroll;
}

.main-container{
    padding-left: 30px;
}

.main-top button{
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 15px;
}

.all-btn{
    background-color: white;
}

.music-btn{
    background-color: #333333;
    color: rgb(255, 255, 255);
}

.main-list{
    flex-wrap: wrap; 
    justify-content: space-around; /* Space around items */
    gap:20px;
}

.main-first-list{
    display: flex;
}

.sub-box{
    display: flex;
    background-color: rgb(65, 65, 65);
    width: 350px;
    padding: 5px;
    border-radius: 5px;
}

.sub-box h3{
    padding-top: 7px;
    padding-left: 7px;
    color: white;
    font-size: 15px;
    font-weight: 400px;
}

.box-2{
    padding-left: 20px;
}

.box-top{
    margin-bottom: 10px;
    margin-top: 10px;
}

.like-songs{
    padding-top: 20px;
}

.like-songs h2{
    font-size: 30px;
    padding-bottom: 15px;
    cursor: pointer;
}

.like-songs h2:hover{
    text-decoration: underline;
}


.artist{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    overflow-x: auto;
    max-width: 800px;
    white-space: nowrap;
    scrollbar-width: none;  /* this hide scrool bar*/
    cursor: pointer;
}

.artist-box img{
    border-radius: 10px;
}

.artist-box h4{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
}

.artist-box:hover{
    background-color: #333333;
}

.artist-box p{
    color: #C3C3C3;
    font-size: 14px;
    font-weight: 500;
}

.sidebar-left{
    flex: 0 0 18%;
}



/* player */

.player{
    background-color: black;
}
