*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

.navbar-top{
    display: flex;
    justify-content: space-between;
}

.navbar-top-left ul{
    display: flex;
}

.navbar-top-right ul{
    display: flex;
}