*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;     
    font-family: "scandia-web","ui-sans-serif","system-ui","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* navbar css */
.navbar{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 a{
    text-decoration: none;
    color: rgb(249, 50, 44);
    margin-left: 50px;
}
.navbar-menu{
    padding-left: 100px;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 25px;
    color:  rgb(108, 108, 108);
    text-align: center;
}

.ecosystem a{
    display: flex;
}
/* ecosystem icon area */
ul li a span.material-symbols-outlined{
   margin-left: 10px;
}

/* ul li a span.material-symbols-outlined:hover{
    transform: rotate(180deg);
} */

ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}

.navbar-right{
  margin-right: 10px;
}

.navbar-right i.search-icon{
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
    color:  rgb(108, 108, 108);
}

.navbar-right .btn{
    border: 2px solid  rgb(249, 50, 44);
    background-color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    color:rgb(249, 50, 44);
    cursor: pointer;
}

/* main side css */

main{
    margin-top: 5%;
    justify-content: center;
    text-align: center;
}

main h1.header{
    font-weight: 700;
    font-size: 4.6em;
}

.text-center{
    font-size: 20px;
    margin-top: 3%;
    color: rgb(108, 108, 108);
}

main button{
    margin-top: 3%;
    justify-content: space-between;
}
.btn-1{
    /* border: 2px solid  rgb(240, 83, 64); */
    border: none;
    background-color: rgb(249, 50, 44);
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    color:#fff;
    cursor: pointer;
    
}

.btn-2{
    border: 1px solid  rgb(249, 50, 44);
    background-color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    color:rgb(249, 50, 44);
    cursor: pointer;
    font-weight: 700;
    margin-left: 20px;
}


/* main 2 area css */

.main-2{
    margin-top: 20%;
}

.main-2-left{
    margin-left: 100px;
}
.main-2-head{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
}

.main-2-text{
    font-size: 17px;
    margin-top: 3%;
    color: rgb(108, 108, 108);
}

.btn-3{
    border: 1px solid  rgb(249, 50, 44);
    background-color: #fff;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    color:rgb(249, 50, 44);
    cursor: pointer;
    font-weight: 700;
    margin: 20px 0;
}

.main-2-right img{
    float: right;
    width: 500px;
    height: 300px;
    justify-content: center;
    margin-right: 100px;
    border-radius: 20px;
    transform: rotate(5deg);
}


/* main 3 side */

.main-3-right{
    float: right;
    margin-right: 100px;
}

.main-3-left img{
    width: 500px;
    height: 300px;
    justify-content: center;
    margin-left: 100px;
    border-radius: 20px;
}

/* container */

.container{
  display: grid;
  width: 80%;
  margin: 50px 50px;
  margin-right: 100px;
  gap: 1.8rem;
  background-color: #fff;
  border: 1px solid;
}

a{
    color: #333;
    text-decoration: none;
}

h3{
    font-weight: 700;
    font-size: 1rem;
}

.container .sidebar{
    display: flex;
    flex-direction: column;
    position:relative;
    top: 1.5rem;
    left: 1.5rem;
    height: 88vh;
    transition: all 0.3s ease;
}

.container .sidebar:hover{
    box-shadow: none;
}

.container .sidebar a{
    display: flex;
    align-items: center;
    color: rgb(108, 108, 108);
    height: 4.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

.container .sidebar a span{
    font-size: 1.6rem;
    transition: all 03s ease;
} 

.container .sidebar a:last-child{
    position:absolute;
    bottom: 2rem;
    width: 100%;
}





