* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #202124;
    color: #fff;
  }
  .navbar {
    display: flex;
    justify-content: space-between; /* New */
    align-items: center; /* New */
    border: 1px solid rgb(53, 51, 51);
    padding: 10px;
    align-items: center;
  }
  
  .navbar-menu #menu {
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .navbar-head {
    display: flex;
    gap: 5px; 
    align-items: center; 
    width: 20%;
    padding-left: 20px;
  }
  
  .navbar h2 {
    font-weight: 100;
  }
  
  .search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    background: rgb(117, 114, 114);
    width: 700px;
  }
  
  .search-input {
    font-size: 16px;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    flex: 1;
  }
  
  .search-input::placeholder {
    color: #fff;
  }
  
  .navbar-right {
    display: flex;
    justify-content: space-between; /* New */
    width: 15%; /* New */
  }
  
  .navbar-right .material-icons {
    color: #8f9094;
    font-size: 2em;
    cursor: pointer;
  }
  
  /* side bar css */
  
  .body {
    /* New class */
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
  }
  
  .main-container {
    /* New class */
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .sidebar {
    width: 4%; /* New */
    height: 100vh; /* New */
    padding: 1px;
    display: flex;
    flex-direction: column;
    /* position: fixed; */
  }
  
  .sidebar .material-icons {
    margin: 15px;
    font-size: 25px;
    color: #8f9094;
    cursor: pointer;
  }
  
  .note {
    width: 70%; /* New */
    display: flex;
    align-items: center;
    border: 1px solid #8f9094;
    padding: 10px 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .note input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    background: transparent;
  }
  
  .note .icons {
    display: flex;
    gap: 10px;
  }
  
  .container {
    width: 300px;
    height: 250px;
    background: transparent;
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .container textarea {
    width: 100%;
    height: 100vh;
    padding: 20px; 
    background: transparent;
    border: none;
    font-size: 2em;
  }
  