*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    display: flex;
    min-height: 100vh;
    overflow-y: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.sidebar{
    width: 250px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; 
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar-top{
    display: flex;
    justify-content: space-between;
}

.side{
    color: #b4b4b4;
}

.top-search{
    color: #b4b4b4;
    font-size: 1.6em;
    margin-right: 5px;
}

.list-sidebar{
    padding-top: 15px;
}

.items{
    display: flex;
    align-items: center;
    cursor: pointer; 
    padding-top: 10px;
}

.items a{
    font-size: .875rem;
    color: #ececec;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img{
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 100%, .1);
    width: 24px;
    height: 24px;
}

.apps{
    width: 24px;
    height: 24px;
}

.under-sidebar{
   margin-top: auto; 
   display: flex;
   gap: 10px;
}

.left-under{
    margin-top: 5px;
    
}

.left-under a span{
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 50%;
    color: #9b9b9b;
}

.right-under a h4{
    color: white;
    font-weight: 500;
}

.right-under a p{
    font-size: 0.75rem;
    color: #9b9b9b;
    margin-top: 5px;
}


/* main content */

.main-content {
    flex: 1; /* Fill the remaining space */
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto; /* Enable vertical scrolling for main content */
    height: 100vh; /* Full height of the viewport */
}