*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    display: flex;
    min-height: 100vh;
    overflow-y: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.sidebar{
    width: 250px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; 
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar-top{
    display: flex;
    justify-content: space-between;
}

.side{
    color: #b4b4b4;
}

.side:hover{
    background-color: #9b9b9b2a;
    border-radius: 5px;
}

.top-search{
    color: #b4b4b4;
    font-size: 1.6em;
    margin-right: 5px;
}

.top-search:hover{
    background-color: #9b9b9b2a;
    border-radius: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    color: inherit;
}

.tooltip::after{
    content: attr(data-tooltip); 
    position: absolute;
    right: -200px;
    left: 400%;
    transform: translateX(-50%);
    background-color: black; 
    color: #fff; 
    padding: 8px 8px;
    font-size: 15px;
    font-weight:600;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.tooltip::before {
    content: '';
    position: absolute;
    right: 90%; 
    left: 150%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Show Tooltip on Hover */
.tooltip:hover::after,
.tooltip:hover::before {
    opacity: 1;
    visibility: visible;
}

.comment{
    position: relative;
    text-decoration: none;
    color: inherit;
}

.comment::after{
    content: attr(data-comment);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: #fff;
    padding: 8px 8px;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10;
}

.comment::before{
    content: '';
    position: absolute;
    bottom: -15px; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.comment:hover::after,
.comment:hover::before {
    opacity: 1;
    visibility: visible;
}

.list-sidebar{
    padding-top: 15px;
}

.items{
    display: flex;
    align-items: center;
    cursor: pointer; 
    padding-top: 10px;
}

.items:hover{
    background-color: #9b9b9b2a;
    border-radius: 5px;
}

.items a{
    font-size: .875rem;
    color: #ececec;
    display: flex;
    align-items: center;
    gap: 10px;
}

.img{
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 100%, .1);
    width: 24px;
    height: 24px;
}

.apps{
    width: 24px;
    height: 24px;
}

.under-sidebar{
   margin-top: auto; 
   display: flex;
   gap: 10px;
}

.under-sidebar:hover{
    background-color: #9b9b9b2a;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.left-under{
    margin-top: 5px; 
}

.left-under a span{
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 50%;
    color: #9b9b9b;
}

.right-under a h4{
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.right-under a p{
    font-size: 0.75rem;
    color: #9b9b9b;
    margin-top: 5px;
}


/* main content */

.main{
    flex: 1;
    padding: 20px;
    background-color: #212121;
    overflow-y: hidden;
    height: 100vh;
}

.main-head{
    display: flex;
    justify-content: space-between;
}

.left-main-head{
    display: flex;
    gap: 5px;
    color: #b4b4b4;
    cursor: pointer;
}

.left-main-head:hover{
    background-color: #9b9b9b2a;
    border-radius: 5px;
}

.left-main-head h4{
    font-size: 20px;
    font-weight: 500;
}

.right-main-profile a{
    color: #b4b4b4;
}

.right-main-profile a span{
    border: 1px solid #b4b4b4;
    border-radius: 50%;
}

/* main center */

.main-center{
    margin-top: 14%;
    text-align: center;
    justify-content: center;
}

.main-center h1{
 color: white;
}


/* serach bar */

.main-input{
    margin-top:10px ;
    padding: 10px;
    width:70%;
    height: 100px;
    margin-left: 15%;
    background-color: #2f2f2f;
    border-radius: 1.5rem;
}

.search-bar{
    width: 100%;            
    max-width: 800px;   
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-bar input{
    outline: none;
    border: none;
    background: #2f2f2f;
    flex: 1;
    padding-top: 10px;
    padding-left: 10px;
}

.search-bar-input::placeholder{
    font-size: 16px;
    color: #b4b4b4;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.input-icon-left{
    margin-left: 1%;
    margin-top: 10px;
}

.input-icon-left span{
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

.input-icon-left span:hover{
    background-color: #212121;
    border-radius: 2px;
}

.voice-icon-right{
    margin-right: 1%;
}

.voice-icon-right span{
   border-radius: 50%;
   background-color: white;
   cursor: pointer;
}