*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    background: #f2f4f7;
}

.main{
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    padding: 20px;
    gap: 80px;
    padding-bottom: 200px;
}

.left-main{
    padding-top: 13%;
}

.left-main h1{
    color: #0866ff;
    font-size: 60px;
}

.left-main h2{
    font-size: 28px;
    font-weight: 500;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    width: 500px;
    color: #1c1e21;
}

.log-in{
    display: flex;
    flex-direction: column;
}

.container{
    background-color: white;
    border:none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    padding: 20px 20px 28px;
    margin: 100px 0 0;
}

.input{
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    font-size: 17px;
    border-radius: 5px;
}

.name{
    margin-bottom: 15px;
}

.password{
    margin-bottom: 15px;
}

.btn{
    padding: 14px 16px;
    width: 330px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 700;
    background-color: #0866ff;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: #3077e9;
}

.log-in a{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #0866ff;
}

.log-in a:hover{
    text-decoration: underline;
}

.create{
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #dadde1;
}

.create button{
    background-color: #42b72a;
    padding: 14px 16px;
    width: 200px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.create button:hover{
    background-color: #6bd456;
}

.under-conatiner{
    padding-top: 20px;
    text-align: center;
}

.under-conatiner p{
    font-size: 14px;
}

.under-conatiner p a{
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.under-conatiner p a:hover{
    text-decoration: underline;
}

/* footer */

footer{
    color: #737373;
    background-color: #fff;
}

.final{
    width: 980px;
    margin: 0 auto;
    height: 180px;
}

.language{
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #8a8d91;
}

.lang-list{
     list-style: none;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.lang-list li a{
    color: #8a8d91;
    text-decoration: none;
    padding-right: 10px;
    font-size: 14px;
}

.lang-list li a:hover{
    text-decoration: underline;
}

.other{
    padding-top: 10px;
    padding-bottom: 25px;
}

.first-list{
    padding-bottom: 5px;
}

.copyright{
    font-size: 13px;
}


/* new account create page css */

.create-account{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.create-head h1{
    color: #0866ff;
    font-size: 60px;
    text-align: center;
    padding-top: 10px;
}

.main-form{
    background-color: white;
    border:none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    padding: 20px 20px 28px;
    margin: 30px 0 0;
}

.sub-account-head{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #737373;
}

.form{
    padding-top: 20px;
}

.first-name{
    padding: 11px;
    margin-right: 10px;
    border: 1px solid #dddfe2;
    font-size: 15px;
    border-radius: 5px;
    width: 170px;
}

.last-name{
    padding: 11px;
    border: 1px solid #ccd0d5;
    font-size: 15px;
    border-radius: 5px;
    width: 170px;
}

.month{
    border-radius: 4px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    width: 110px;
    margin-right: 10px;
    padding-bottom: 10px;
}


.male{
    background-color: #fff;
    border: 1px solid #ccd0d5;
    box-sizing: border-box;
    display: inline-block;
    flex: 1 0 auto;
    font-weight: normal;
    height: 36px;
    margin: 8px 0px 6px;
    padding: 0;
    position: relative;
    width: auto;
    border-radius: 5px;
}

.male label{
    box-sizing: border-box;
    color: #1c1e21;
    display: inline-block;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    padding: 0 65px 0 10px;
    width: 100%;
}

.male label input{
    height: 36px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
}

.Sign-in{
    display: flex;
    flex-direction: column;
}

.Sign-in input{
    padding: 10px 16px;
    width: 350px;
    border: 1px solid #dddfe2;
    font-size: 17px;
    border-radius: 5px;   
}

.create-input-email{
    margin-bottom:10px;
}

.text p{
    color: #777;
    font-size: 12px;
}

.text-1{
    margin-bottom: 15px;
}

.link-a{
    color: #385898;
    text-decoration: none;
}

.last-button{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.sign-up{
    padding: 10px 16px;
    width: 200px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 90px;
    margin-top: 20px;
    background-color: #00a400;
    color: white;
}

.last-button a{
    text-decoration: none;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #1877f2;
}