*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: block;
}

/* navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    position: absolute;
    padding: 0;
    height: 56px;
    top: 0;
    left: 0;
    width: 100%;
}

#navbarId{
    position: fixed;
    z-index: 4;
    font-size: 16px;
    background-color: white;
    color: #282A35;
    padding-left: 1px;
    padding-right: 16px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    min-width: 330px;
}

.navbar a img{
    margin-left: 10px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.navbar-1 ul{
    display:flex;
    gap: 1.5em;
    font-size: 15px;
    margin-left: 10px;
}

.search {
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 10px;
    width: 210px;
    border-radius: 2em;
}
  
.search:hover{
    border: 3px solid #04AA6D;
}

.search-input {
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder {
    font-size: 16px;
    font-style: italic;
    color: #333;
}

.navbar-2 ul{
    display: flex;
    gap: 1.5em;
    margin-left: 10px;
    font-size: 15px;
}

.navbar-2 ul li a i{
    justify-content: space-between;
    margin-right: 10px;
    color: #9763f6;
}

.button{
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
}

.button .sin-button{
        position: relative;
        width: 93px;
        height: 40px;
        top: 50%;
        margin-top: -20px;
        border-radius: 25px;
        margin-right: -39px;
        font-size: 16px;
        line-height: 1.5;
        z-index: 5;
        background-color: #04AA6D;
        color: #fff;
        cursor: pointer;
        border: none;
}

.sin-button:hover{
    background-color: #099964;
}

.button .log-button{
    position: relative;
    width: 112px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
    color: #333;
    border-radius: 25px;
    padding-left: 39px;
    font-size: 16px;
    line-height: 1.5;
    z-index: 4;
    cursor: pointer;
    border: none;
    background-color: #D9EEE1;
}

.log-button:hover{
    color: #fff;
    background-color:#099964;
}

@media (max-width: 1300px){
    .navbar-2 ul li:nth-last-child(3){
        display: none;
    }
}

@media (max-width: 1200px){
    .navbar-2 ul li:nth-last-child(2){
        display: none;
    }
}

@media (max-width: 1074px){
    .navbar-2 ul li:nth-last-child(1){
        display: none;
    }
}

@media (max-width: 950px){
    .navbar-1 ul li:nth-last-child(2){
        display: none;
    }
}

@media (max-width: 820px){ /*this not finshi icond not reduction*/
     .search{
        display: none;
    }
}

@media (max-width: 690px){
    .navbar-1 ul li:nth-last-child(1){
        display: none;
    }
    
}

@media (max-width: 500px){
    .navbar-1 ul li:nth-last-child(3){
        display: none;
    }
}

.main{
    background-color: #282A35;
    height: 100%;
    width: 100%;
    background-image:  url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* this course under navbar */

.under-navbar{
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

#under{
    position: fixed;
    background-color: #282A35;
    color: #f1f1f1;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro Topnav', sans-serif;
    font-size: 0;
    top: 56px;
    z-index: 2;
    width: 100%;
    white-space: nowrap;
    overflow: auto;
    scrollbar-width: none;
}

.under-navbar ul{
    display: flex;
}

.under-navbar ul li a{
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 13.5px;
    width: auto;
    line-height: 1.5;
    display: inline-block;
}

.under-navbar ul li a:hover{
    background-color: #000;
}

#right_scroll{
    cursor: pointer;
    float: left;
    font-size: 15px;
    background: linear-gradient(to left, #282A35 70%, transparent 100%);
    position: fixed;
    right: 0;
}

/* main center */

.main-center{
    margin-top: 6.2%;
    justify-content: center;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 210px;
}

.main-center h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.main-center p{
    color: #FFF4A3;
    font-weight: 700;
    margin-top: 30px;
    font-size: 23px;
}


/* serach bar */
.search-2{
    padding: 20px;
    display: flex;
    align-items: stretch; /*attache the input serach and button*/
    align-items: center;
    justify-content: center;
}

.search-input-2{
    padding: 15px;
    width: 40%; 
    font-size: 17px;
    border: none;
}

.search-input-2[type="text"]{
    border: 1px solid #282A35;
    border-radius: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}

.search-2 button{
    border-radius: 25px;
    width: 10%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.main-center a{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

/* main-1 html */

.main-1{
    background-color: #D9EEE1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-height: 100vh;
    gap: 6em;
    flex-wrap: wrap;
}

.main-1-left{
    padding: 20px;
    margin-left: 200px;
    flex: 0 0 300px;
    text-align: center;
}

.main-1-left h1{
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
}

.main-1-left p{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 19px;
    font-weight: 700;
}

.main-1-left a button{
    font-size: 18px;
    display: flex;
    width: 200px;
    border-radius: 25px;
    border: none;
    padding: 8px 16px;
    margin-left: 12%;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.btn-1{
    background-color: #04AA6D;
    color: white;
    margin-bottom: 1.5em;
}

.btn-2{
    background-color: #FFF4A3;
    color: black;
    margin-bottom: 1.5em;
}

.btn-3{
    background-color: #282A35;
    color: white;
    margin-bottom: 1.5em;
}

.btn-4{
    background-color: #FFC0C7;
    color: black;
}

.btn-5{
   background-color: white;
}

.right-container{
    flex: 1;
    align-items: center;
    width: 450px;
    height: 450px;
    justify-content: center;
    margin-right: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); /*this shadow border css */
    padding: 20px;
    border-radius: 5px;
    background-color: #E7E9EB;
    color: #000;
}

.code-container{
    width: auto;
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    border-left: 4px solid #4CAF50;
    word-wrap: break-word;
    height: 300px;
}

.code-container span{
    font-size: 15px;
}

.right-container h3{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 22px;
    font-weight: 500;
}


.right-container a button{
    font-size: 18px;
    display: block;
    width: 200px;
    border-radius: 25px;
    border: none;
    padding: 8px 16px;
    background-color: #04AA6D;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.tagnamecolor{
    color: brown;
}

.tagcolor{
    color: mediumblue;
}

/* main 1 css */

.main-1-css{
    background-color: #FFF4A3;
    min-height: 80vh;
}

/* main   js*/
.main-1-js{
    background-color: #282A35;
    padding-bottom: 35%;
    color: white;
    padding-bottom: 10%;
}

.main-1-js h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
}

/* main python css */

.main-1-python{
    background-color: #F3ECEA;
    padding-bottom: 5%;
}

.main-1-python h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

#pyt-con{
   height: 400px;
   
}

#pyt-cod{
    height: 250px;
}

.main-1-sql{
    background-color: #96D4D4;
    padding-bottom: 2%;
}

.main-1-sql h1{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

@media (max-width:600px){
    .right-container{
        display: none;
    }
    .main-1-left{
        margin-left: 50px;
    }
}


/* boxes */

.box{
    background-color: #282A35;
}

.big-box{
      display: flex;
      flex-wrap: wrap; 
      justify-content: space-around; /* Space around items */
      padding: 24px;
      gap:20px
}

.box-1{
    flex: 0 0 45%;
    height: 250px; 
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    min-width: 250px;
}

@media (max-width:1000px){
    .box-1{
        flex: 1 1 100%;
    }
}

.box-php{
    color: black;
    background-color: #FFC0C7;
    padding: 24px;
}

.box-jauery{
    color: black;
    background-color: #FFF4A3;
    padding: 24px;
}

.box-java{
    color: black;
    background-color: #F3ECEA;
    padding: 24px;
}

.box-c{
    color: black;
    background-color: #D9EEE1;
    padding: 24px;
}

.box-w3{
    color: black;
    background-color: #96D4D4;
    padding: 24px;
}

.box-bootstrap{
    color: black;
    background-color: #E7E9EB;
    padding: 24px;
}

.box-1 h2{
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
}

.box-1 p{
   color: #3a3a3a;
   margin-top: 30px;
   font-weight: 400;
   font-size: 18px;
}

.box-1 a button{
    font-size: 18px;
    width: 200px;
    border-radius: 25px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    background-color: #282A35;
    color: white;
    margin-top: 30px;
}

.box-1 a button:hover{
    background-color: black;
}

.box-width{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; /* Space around items */
    padding: 24px;
    gap:20px;
}

.box-2{
    flex: 0 0 45%;
    height: 120px; 
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    padding: 36px 24px;
    cursor: pointer;
    display: flex;
    min-width: 200px;
}

@media (max-width:1000px){
    .box-2{
        flex: 1 1 100%;
        margin: 0 auto;
    }
}

.box-2 h2{
    font-weight: 700;
    margin-top: 10px;
    font-size: 30px;
}

.box-small{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; /* Space around items */
    padding: 24px;
    gap: 20px;
}

.box-3{
    flex: 1 1 calc(20% - 20px); 
    height: 120px; 
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    padding: 36px 24px;
    cursor: pointer;
    display: flex;
    min-width: 120px;
}

@media (max-width:1000px){
    .box-3{
        flex: 1 1 calc(45% - 20px);
    }
}

@media (max-width:600px){
    .box-3{
        flex: 1 1 100%;
    }
}

/* code editor */

.editor{
    text-align: center;
    margin-top: 100px;
    color: white;
}

.editor h1{
    font-size: 4em;
    font-weight: 700;
}

.editor p{
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.editor img{
    height: 350px;
    width: 650px;
}

.editor a .btn-editor{
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    border-radius: 5px;
    border: none;
    padding: 8px 16px;
    margin-left: 25%;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.editor a  .btn-space{
    font-size: 18px;
    width: 300px;
    border-radius: 25px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.right{
    margin-right: 50px;
    text-align: center;
}

.right h1{
    font-size: 60px;
    font-weight: 700;
}

.right p{
    font-size: 18px;
    font-weight: 500;
}

.btn-learn{
    font-size: 18px;
    width: 300px;
    border-radius: 25px;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.plus{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 80vh;
}

.features{
    text-align: center;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
}

.features i{
    padding: 5px;
    font-weight: 400;
}
.plus h1{
    margin-top: 200px;
}

.plus h2{
    margin-top:20px;
}


/* color picker */

.picker{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    height: 100vh;
    text-align: center;
    background-color: #F3ECEA;
    min-height: 80vh;
}

.picker h1{
    margin-top: 50px;
    font-size: 50px;
    padding: 10px;
}

.picker p{
    font-size: 20px;
    margin-bottom: 20px;
}

.t{
    height:80vh ;
    padding-top: 100px;
}

.left-t{
    margin-left: 200px;
   
}

.right-t{
    margin-right: 100px;
}

.game{
    background-color: #96D4D4;
    height: 80vh;
}

.game h2{
    font-size: 40px;
    padding-bottom: 2%;
}

.game h3{
 padding-bottom: 2%;
}

.test{
    text-align: center;
    height: 90vh;
}

.test h1{
    padding: 5%;
}

.test-box{
    height: 150px;
}

.tempo{
    text-align: center;
    background-color: #E7E9EB;
}

.tempo h1{
 font-size: 60px;
 font-weight: 700;
 padding-top: 5%;
 padding-bottom: 2%;
}

.tempo h3{
    padding-bottom: 2%;
}

.tempo a button{
    margin-top: 20px;
    width: 700px;
}


.btn-3:hover{
    background-color: black;
}


/* footer css */

footer{
    background-image:  url(img/background.png);
    background-color: #282A35;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

.first-row{
    padding: 40px 30px;
}

.first-row ul{
    display: flex;
}

.first-row ul a{
    padding: 40px 30px;
    width: auto;
    color: #FFF4A3;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    margin-left: 50px;
}

.first-row ul a li:hover{
    text-decoration: underline;
}

.middle-footer{ 
    color: #ddd;
    display: flex;
    gap: 12em;
    margin-left: 120px;
}

.row a{
    color: #ddd;
    font-size: 12px;
    line-height: 15px;
}

.row a:hover{
    color: #FFF4A3;;
}

.row h4{
    padding-bottom: 20px;
}

.footer-icons ul{
    display: flex;
    margin-left: 120px;
    padding-top: 5%;
    gap: 10px;
}

.footer-icons ul a li i{
    color: #ddd;
    font-size: 20px;
}

.footer-icons ul a li{
    color: #ddd;
    font-size: 14px;
    padding-top: 8%;
}

.footer-icons ul a li:hover{
    color: #FFF4A3;
    text-decoration: underline;
}

.footer-icons ul a li i:hover{
    color: #FFF4A3;
}

.last-footer{
    color: #ddd;
    margin-left: 120px;
    padding-top: 2%;
    font-size: 14px;
    padding-bottom: 5%;
}

.last-footer a{
    color: #ddd;
    text-decoration: underline;
    font-size: 14px;
}

.last-footer a:hover{
    color: #FFF4A3;
}